
DATABASE_URL=postgresql://dev_user:PropelUser123@propelpgdevdb.postgres.database.azure.com:5432/digital_transformation_dev
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=PropelUser123
POSTGRES_DB=digital_transformation_dev
